header img {
  width: 5%;
  float: left;
}

header {
  background: White;
}
body{
  background-color: aqua;
}

.subheader .col {
  background: blue;
}

header .navbar {
  width: 95%;
}

.layout-sidebar-first {
  background: #1B0000;
  color: white;
}
